registry=https://nexus.marschat.online/repository/npm-public/
@marschat:registry=https://nexus.marschat.online/repository/npm-hosted/
//nexus.marschat.online/repository/npm-hosted/:_auth=YWRtaW46SHd4QDExMjA5MzA=
//nexus.marschat.online/repository/npm-hosted/:always-auth=true
